.button {
  width: 80px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d2127;
  border-radius: 20px;
}

#backspace.button {
  width: 150px;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #292d36;
  border-radius: 20px;
}

.body {
  width: 75%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sidebar {
  width: 25%;
  display: flex;
  flex-wrap: wrap;
}

.body-footer {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.buttons .header {
  width: 100%;
  display: flex;
}

.result {
  width: 100%;
  display: block;
  height: 70px;
  font-size: 15px;
  text-align: right;
  padding: 20px 0px 20px 5px;
  white-space: pre-line;
  overflow: scroll;
}

.calculator {
  width: 340px;
  background-color: #22252d;
  border-radius: 20px;
}

body {
  color: white;
}
